*{
    margin: 0%;
    padding: 0%;
}



body{ background-image: linear-gradient( to left, blue, purple) ;}

.cabecalho{
    background-color: blue;
    color: antiquewhite;
    margin: 30px;
    width: 10;
    justify-content: center;
}

    .cabecalhotitulo{
font-size: 30px;
text-align: center;
    }
    .cabecalhosubtitulo{
        font-size: 20px;
        text-align: center;
    }